@media screen and (max-width: 425px) {
    nav{
        padding: 0px;
        flex-direction: column;
        height: 230px;
        line-height: 40px;
    }
    .nav-container ul{
        flex-direction: column;
        margin-bottom: 30px;

    }
    .nav-btn{
        width: 200px;
        height: 20px;
        display: flex;
        align-items: center;  
    }
    .banner{
        padding: 0;
        flex-direction: column;
    }
    .sign-btn{
        margin-bottom: 10px;
    }
    .banner-img{
        width: 400px;
        margin-right: 130px;
    }
    .banner-img img{
        /* width: 100%; */
    }
    .online-games{
        padding: 0px;
    }
    .online-videos{
        flex-direction: column;
    }

    .game{
        display: none;
    }
}