



:root{
    --primary-color: #FF42A5;
    --title-color: #0B0223;
    --description-color: #534C64;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Atma', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Padyakke Expanded One', cursive;
    font-family: 'Work Sans', sans-serif;
}

.paragraph-text{
    color: var(--description-color);
    font-size: 0.7rem;
    line-height: 25px;
}

/* Header Section Styles */

nav{
    padding: 0px 170px;
    /* height: 90px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px rgb(235, 235, 235);
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo-container img{
    width: 60px;
    height: 30px;
    margin: 20px;
}
.nav-container ul{
    display: flex;
    align-items: center;
}
.nav-container ul li{
    list-style: none;
    
}
.nav-container ul li a{
    font-weight: 500;
    color: var(--title-color);
    text-decoration: none;
    padding: 0px 20px ;
}
.nav-btn{
    display: flex;
    align-items: center;
    background-color:  rgba(11, 2, 35, 0.10);
    border-radius: 5px;
    padding: 8px 20px 8px 0px;
    margin: 30px 0px;
}   
.fa-youtube{
    font-size: 23px;
    color: red;
    padding-right: 10px;
}

/* Banner Section Styles */

.banner{
    padding: 0px 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text h3{
    color: var(--title-color);
    font-size: 2rem;
}
.banner-text h1{
    font-size: 4rem;
    font-weight: 800;
    background-image: linear-gradient(#F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.banner p{
    color: var(--description-color);
    font-size: 0.8rem;
    line-height: 25px;
}
.sign-btn{
    padding: 13px 30px;
    border-radius: 30px;
    border: none;
    background-color: var(--primary-color);
    margin-top: 20px;
    margin-right: 10px;
    color: white;
    font-weight: 700;
}
.go-btn{
    padding: 13px 30px;
    border-radius: 30px;
    border: none;
    background-color: #4EC5F7;
    color: white;
    font-weight: 700;
}
.banner-img{
    display: flex;
    justify-content: end;
}
.banner-img img{
    width: 70%;
    
}
/* Online Games Section Styles */
.online{
    color: var(--title-color);
    font-size: 2rem;
}
.funny{
    font-size: 2rem;
    background-image: linear-gradient(#F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.online-games{
    padding: 0px 170px;
    margin-top: 100px;
    text-align: center;
}
.online-videos{
    display: flex;
    justify-content: space-around;
}
.online-cards img{ 
    width: 220px;
    margin-top: 20px;
}
.online-cards img:hover{
    outline: 3px solid var(--primary-color);
    border-radius: 12px;
    -webkit-filter: brightness(50%);
}

.online-cards{
    width: 100%;
    text-align: start;
}
.online-cards p{
    color: var(--description-color);
    font-size: 0.8rem;
    line-height: 25px;
}


/* Play Instantly Section Styles */

.play-instant{
    margin-top: 100px;
    padding: 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play-text-container{
    text-align: right;
    width: 300px;
}

.play-text-container h2{
    background-image: linear-gradient(#F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2rem;
}
.play-text-container h3{
    color: var(--title-color);
    font-size: 2rem;
}

.play-img-container{
    display: flex;
    justify-content: end;
}

.play-img-container img{
    width: 70%;
}
.angela-img{
    position: relative;
    height: 200px;
    width: 100px;
    left: 100px;
    top: 350px;
}

/* Games Section Styles */

.games{
    padding: 200px 150px 100px 150px;
}

.first-game-line{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 20px;
}
.second-game-line{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 20px;
    padding: 0px 70px;
}
.game-btn{
    display: flex;
    align-items: center;
    padding: 5px;
}
.game-btn h5{
    padding-left: 10px;
}
.game-btn img{
    width: 40px;
}
.game-btn:hover{
    outline: 2px solid var(--primary-color);
    border-radius: 50px;
    color: var(--primary-color);
}
/* Footer Section Styles */
footer{
    background-color: var(--title-color);
    margin-top: 100px;
    text-align: center;
    padding-bottom: 40px;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo img{
    width: 60px;
    height: 30px;
    margin: 20px;
}
.footer-nav ul{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    text-decoration: none;
    color: white;
    width: 40%;
    list-style: none;
    font-size: 0.7em;
}
.social-media {
    margin: auto;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 15px;
    width: 30%;
    margin-bottom: 20px;
}


  @media screen and (max-width: 430px) {

    /* Nav Responsive Codes */

    nav{
        padding: 0px;
        flex-direction: column;
        height: 230px;
        line-height: 40px;
    }
    .nav-container ul{
        flex-direction: column;
        margin-bottom: 30px;

    }
    .nav-btn{
        width: 200px;
        height: 20px;
        display: flex;
        align-items: center;  
    }


/* Banner Responsive codes */
  
    .banner {
      flex-direction: column-reverse;
      align-items: center;
    }
    .go-btn{
        margin-top: 20px;
    }
    .banner-text {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .banner-img img {
      width: 300px;
      height: auto;
    }

    /* Online game section responsive codes */

    .online-games {
        padding: 0px 20px;
        margin-top: 50px;
      }
    
      .online,
      .funny {
        font-size: 1.5rem;
      }
    
      .online-videos {
        flex-direction: column;
        margin-left: 100px;
      }
    
      .online-cards img {
        width: 200px;
        margin-top: 10px;
      }
    
      .online-cards p {
        font-size: 0.7rem;
        line-height: 20px;
        width: 70%;
        margin-bottom: 50px;
      }
      



      /* Play Instant Section Responsive codes */
    

      .play-instant{
        flex-direction: column;
        padding: 0px 50px;
    }
    .play-text-container{
        text-align: center;
        width: 100%;
    }
    .play-img-container{
        justify-content: center;
    }
    .play-img-container img{
        width: 50%;
        margin-bottom: 100px;
    }
    .angela-img{
        left: 70px;
        top: 100px;
        
    }

    /* Games Section responsive */




    .games{
        padding: 100px 50px;
    }
    .first-game-line{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .second-game-line{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 0px;
    }



/* Footer Section Responsive Codes */



    footer{
        padding: 0px 70px;
        margin-top: 0px;
    }
    .footer-nav ul{
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }
    .social-media {

        align-items: center;
        width: 100%;
        font-size: 30px;
    }
    .footer-nav ul li{
        margin: 10px;
    }
    .social-media a{
        margin: 10px;
    }
  }


  @media screen and (min-width: 430px) and (max-width: 900px) {

    /* Nav Responsive Codes */
  
    nav {
      padding: 10px;
      flex-direction: row;
      height: 80px;
      line-height: 80px;
    }
    .nav-container ul {
      flex-direction: row;
      margin-bottom: 0px;
    }
    .nav-btn {
      padding: 0px;
    }
  
    /* Banner Responsive codes */
  
    .banner {
      flex-direction: row;
      align-items: center;
      padding: 20px;
    }
    .go-btn {
      margin-top: 0px;
    }
    .banner-text {
      text-align: left;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  
    .banner-img img {
      width: 400px;
      height: auto;
    }
  
    /* Online game section responsive codes */
  
    .online-games {
      padding: 0px 50px;
      margin-top: 100px;
      justify-content: center;
    }
  
    .online,
    .funny {
      font-size: 2rem;
    }
  
    .online-videos {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-left: 190px;
    }
  
    .online-cards img {
      width: 300px;
      margin-top: 0px;
    }
  
    .online-cards p {
      font-size: 1rem;
      line-height: 30px;
      width: 70%;
      margin-bottom: 50px;
    }
  
    
  /* Play Instant Section Responsive codes */
  
  
  .play-instant{
      flex-direction: column; 
      padding: 0px 0px; 
  }
  .play-text-container{
      text-align: left; 
      width: 50%; 
  }
  .play-img-container{
      justify-content: center; 
  }
  .play-img-container img{
    justify-content: center;
      width: 50%; 
  }
  .angela-img{
    top: 250px;
      left: 200px; 
  }
  
  
  /* Games Section responsive */
  
  
  
  .games{
      padding: 100px; 
  }
  .first-game-line{
      grid-template-columns: repeat(3,1fr); 
  }
  .second-game-line{
      grid-template-columns: repeat(3,1fr); 
  }
  
  
  
  /* Footer Section Responsive Codes */
  
  
  
  footer{
      padding: 0px; 
  }
  .footer-nav ul{
    
     padding-left: 20px;
  }
  .social-media {
  
     justify-content: space-evenly; 
  }
  }